# Pinecone API Key
# Get your API key from: https://app.pinecone.io
PINECONE_API_KEY=pcsk_3pwaMA_3CnASGh6CZrxdGVZ46Z3gVCbH21NYVr8s6B6VeGWyJZMUsYRKWpbPxvz3SRHLLF

# Groq API Key (for LLM)
# Get your API key from: https://console.groq.com
GROQ_API_KEY=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

# OpenAI API Key (Optional - for generating embeddings)
# Get your API key from: https://platform.openai.com/api-keys
OPENAI_API_KEY=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
